.wrapper
  
  

  .side-bar
    
    .header
      %h3.header__name
        = current_user.name
      %ul.header__lists
        %li.list
          = link_to new_group_path do
            = fa_icon 'pencil-square-o', class: 'icon'
        %li.list
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'

    .groups
      .group
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。
          
    
    -# 元のやつ
    -# .groups
    -#   .group
    -#     - current_user.groups.each do |group|
    -#       = link_to '#' do
    -#         .group__name
    -#           = group.name
    -#         .group__message
    -#           メッセージはまだありません。
        
      
  .main-contents
    .header-main
      .header-main__groupname group-name
      .header-main__member member
      %a{hred: '#', class: 'edit-btn'} edit

    -# .main-message 
    -#   %span.main-message__user user-name
    -#   %span.main-message__day 2019/08/21(Wed) 15:50:00
    -#   .main-message-text sample

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message' 
        .form__box
          = f.label :image, class: 'form__box__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden' 
        = f.submit 'Send', class: 'form__submit' 

    .messages
      = render @messages